<p id="notice"><%= notice %></p>
<form>
<div class="form-group">
<p>
  <strong>RFC:</strong>
  <%= @client.rfc %>
</p>
</div>

<div class="form-group">
<p>
  <strong >Nombre cliente:</strong>
  <%= @client.nombre_cliente %>
</p>
</div>

</form>

<h3><%= link_to 'Edit', edit_client_path(@client) %> | </h3>
<h3><%= link_to 'Back', clients_path %></h3>
