<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @detalle_ordene.cantidad %>
</p>

<p>
  <strong>Precio venta:</strong>
  <%= @detalle_ordene.precio_venta %>
</p>

<h3><%= link_to 'Edit', edit_detalle_ordene_path(@detalle_ordene) %> | </h3>
<h3><%= link_to 'Back', detalle_ordenes_path %></h3>
