<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre producto:</strong>
  <%= @product.nombre_producto %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @product.precio %>
</p>

<h3><%= link_to 'Edit', edit_product_path(@product) %> | </h3>
<h3><%= link_to 'Back', products_path %></h3>
